
.home-banner-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1556px;
  margin: 0 auto;
}

.home-banner-image {
  width: 100%;
  height: auto;
  display: block;
}

.home-banner-caption {
  position: absolute;
  bottom: 10px; /* Đặt gần dưới cùng */
  left: 50%; /* Căn giữa theo chiều ngang */
  transform: translateX(-50%); /* Căn giữa theo chiều ngang */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Làm nền đen mờ phía sau chú thích */
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}
