/* File: /Users/sakai/Documents/GitHub/MERN-Project/frontend/src/components/HomeBanner.css */

.home-banner-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px); /* Chiều cao toàn màn hình trừ đi chiều cao của header (64px) */
  margin: 0;
  overflow: hidden;
}

.home-banner-image {
  width: 100%;
  height: 100%; /* Đảm bảo hình ảnh bao phủ toàn bộ chiều cao container */
  object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi thay đổi kích thước */
}

.home-banner-caption {
  position: absolute;
  bottom: 50px; /* Căn chỉnh gần đáy màn hình */
  left: 50%; /* Căn giữa theo chiều ngang */
  transform: translateX(-50%); /* Căn giữa nội dung */
  color: white; /* Màu chữ */
  background-color: transparent; /* Nền trong suốt */
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}
